---
---

@import "minima";

// Add dark-mode support
@media (prefers-color-scheme: dark) {
    body {
        background-color: #444;
        color: #e4e4e4;
    }
    a {
        color: #e39777 !important;

        &:visited,
        &:active,
        &:hover {
            color: #e4e4e4;
        }
    }
    img {
        filter: grayscale(30%);
    }

    // reverse text color for code blocks as
    // they are displayed on a light background
    .highlight,
    .highlighter-rouge {
        color: #111;
    }
}
